
<button *ngIf="!isShown" (click)="toggleShow()" mat-raised-button color="primary">Add</button>
<div class="row" *ngIf="isShown">

  <div class="card col-md-12">
    <div class="card-header">
      <mat-icon>check_box_outline</mat-icon>
      {{ isEdit? "Edit":"Add"}}
      <button class="right" (click)="toggleShow()" mat-raised-button color="primary"><mat-icon>cancel</mat-icon></button>
    </div>
    <div class="card-body">
      <div>
        <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">

          <input type="hidden" formControlName="id" id="id" />
          <div class="form-group required">
            <label class=" control-label">No</label>
            <div><input type="text" formControlName="ponumber" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class=" control-label">PurchaseOrder Date</label>
            <div><input type="datetime" formControlName="porecDate" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class=" control-label">Name</label>
            <div><input type="text" formControlName="poname" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class=" control-label">Estimated Ship Date</label>
            <div><input type="datetime" formControlName="poestShipDate" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class="control-label">Vendors</label>
            <div class="">
              <select class="form-control" formControlName="customerId" id="type" data-live-search="true">
                <option *ngFor="let test of allVendors" [value]="test.id">{{test.vendorName}}</option>
              </select>
            </div>

          </div>
          <div class="form-group required">
            <label class=" control-label">Actual Ship Date</label>
            <div><input type="datetime" formControlName="poactShipDate" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class=" control-label">Price</label>
            <div><input type="text" formControlName="poprice" class="form-control"></div>
          </div>
          <div class="form-group required">
            <label class=" control-label">Cost</label>
            <div><input type="text" formControlName="pocost" class="form-control"></div>
          </div>
          <table class="table" matSort (matSortChange)="sortFixture($event)">
            <thead>
              <tr>

                <th mat-sort-header="name">
                  Fixture
                </th>
                <th mat-sort-header="calories">
                  Cost
                </th>
                <th mat-sort-header="fat">
                  Quantity
                </th>
                <th mat-sort-header="carbs">
                  Price
                </th>
                <th mat-sort-header="protein">
                  Commission%
                </th>
                <th>
                  Remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of sortedFixtures; let i=index">

                <td>
                  <div class="form-group">



                    <ng-select class="form-control" (change)="onAdd($event,i)" name="id{{i}}" [(ngModel)]="obj.fixtureId" [ngModelOptions]="{standalone: true}">
                      <ng-option *ngFor="let title of allFixtures" [value]="title.id">{{title.fixtureCode}}</ng-option>


                    </ng-select>
                  </div>
                </td>
                <td>
                  <div class="form-group">

                    <input type="text" class="form-control" name="cost{{i}}" [value]="test" [(ngModel)]="obj.fixtureCost" [ngModelOptions]="{standalone: true}" />

                  </div>
                </td>
                <td>
                  <div class="form-group">

                    <input type="number" class="form-control" (keyup)="onKey($event)" name="quantity{{i}}" [(ngModel)]="obj.fixtureQuantity" [ngModelOptions]="{standalone: true}" [value]=1 />
                  </div>
                </td>
                <td>
                  <div class="form-group">

                    <input type="number" class="form-control" name="price{{i}}" [(ngModel)]="obj.fixturePrice" [ngModelOptions]="{standalone: true}" [value]=1 />
                  </div>
                </td>
                <td>
                  <div class="form-group">

                    <input type="number" class="form-control" name="commission{{i}}" [(ngModel)]="obj.fixtureCommision" [ngModelOptions]="{standalone: true}" [value]=1 />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <span (click)="removeForm(i)" class="btn btn-danger">-</span>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
          <span (click)="addFixture()" class="btn btn-success">+</span>
          <table class="table" matSort (matSortChange)="sortParts($event)">
            <thead>
              <tr>

                <th mat-sort-header="part">
                  Part
                </th>

                <th mat-sort-header="quantity">
                  Quantity
                </th>

                <th>
                  Remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of sortedParts; let i=index">

                <td>
                  <div class="form-group">



                    <ng-select class="form-control" name="id{{i}}" [(ngModel)]="obj.partId" [ngModelOptions]="{standalone: true}">
                      <ng-option *ngFor="let title of allParts" [value]="title.id">{{title.partName}}</ng-option>


                    </ng-select>
                  </div>
                </td>

                <td>
                  <div class="form-group">

                    <input type="number" class="form-control" (keyup)="onKeyParts($event)" name="quantity{{i}}" [(ngModel)]="obj.quantity" [ngModelOptions]="{standalone: true}" [value]=1 />
                  </div>
                </td>


                <td>
                  <div class="form-group">
                    <span (click)="removeParts(i)" class="btn btn-danger">-</span>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
          <span (click)="addPart()" class="btn btn-success">+</span>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="ponumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Number </th>
    <td mat-cell *matCellDef="let part"> {{part.ponumber}} </td>
  </ng-container>

  <ng-container matColumnDef="poname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let user"> {{user.poname}} </td>
  </ng-container>

  <ng-container matColumnDef="customerId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
    <td mat-cell *matCellDef="let user"> {{user.customerId }} </td>
  </ng-container>

  <ng-container matColumnDef="porecDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Date</th>
    <td mat-cell *matCellDef="let user"> {{user.porecDate }} </td>
  </ng-container>
  <ng-container matColumnDef="poestShipDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PO EST ship Date</th>
    <td mat-cell *matCellDef="let user"> {{user.poestShipDate }} </td>
  </ng-container>
  <ng-container matColumnDef="poactShipDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Actual ship Date</th>
    <td mat-cell *matCellDef="let user"> {{user.poactShipDate }} </td>
  </ng-container>
  <ng-container matColumnDef="poprice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let user"> ${{user.poprice }} </td>
  </ng-container>
  <ng-container matColumnDef="pocost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
    <td mat-cell *matCellDef="let user"> ${{user.pocost }} </td>
  </ng-container>
  <ng-container matColumnDef="pocompleted">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completed</th>
    <td mat-cell *matCellDef="let user"> {{user.pocompleted }} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Add Quantity </th>
    <td mat-cell *matCellDef="let user"><button mat-flat-button color="primary" matTooltip="Click Edit Button" (click)="loadEmployeeToEdit(user)">Edit</button>  </td>
  </ng-container>

  <ng-container matColumnDef="del">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let user"><button mat-icon-button color="warn" (click)="deleteEmp(user)" aria-label="Example icon-button with a heart icon"><mat-icon>delete_outline</mat-icon></button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


